# pandas - "Introdução ao Pandas no Python"

- Principais comandos do pandas; Criação de dataframe; Visualização de dados; importação de arquivos e etc;

### Importando o pandas

In [2]:
import pandas as pd

### Criando um dataframe a partir de um dicionário

In [3]:
# dataframe = pd.DataFrame()
venda = {'data': ['15/02/2021', '16/02/2021'],
         'valor': [500, 300],
         'produto': ['feijao', 'arroz'],
         'qtde': [50, 70],
        }
vendas_df = pd.DataFrame(venda)

### Visualização dos Dados
    - print
    - display

In [4]:
display(vendas_df)

         data  valor produto  qtde
0  15/02/2021    500  feijao    50
1  16/02/2021    300   arroz    70

### Importando arquivos e bases de dados

In [9]:
vendas_df = pd.read_excel("Vendas.xlsx")
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036

### Resumos de Visualização de Dados simples e úteis
    - head
    - shape
    - describe

In [13]:
display(vendas_df.head(10)) # visualização reduzida
print(vendas_df.shape) # descrição de linhas e colunas
display(vendas_df.describe()) # resumo da tabela

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248
6,5,2019-01-02,Shopping Barra,Calça,1,170,170
7,6,2019-01-02,Shopping Ibirapuera,Polo Listrado,4,149,596
8,7,2019-01-02,Norte Shopping,Camisa Gola V Listrado,1,116,116
9,7,2019-01-02,Norte Shopping,Camisa Liso,1,105,105

(93910, 7)

       Código Venda    Quantidade  Valor Unitário   Valor Final
count  93910.000000  93910.000000    93910.000000  93910.000000
mean   32464.762155      2.166553      191.725886    414.862656
std    18809.007093      1.258732      145.215519    434.846228
min        1.000000      1.000000       30.000000     30.000000
25%    16204.000000      1.000000      100.000000    156.000000
50%    32367.000000      2.000000      155.000000    274.000000
75%    48793.750000      3.000000      248.000000    524.000000
max    65014.000000      5.000000      750.000000   3750.000000

### Pegar 1 coluna (e os pd.Series)

In [15]:
produtos = vendas_df['Produto']  # series do pandas (uma coluna)
display(produtos)

produtos = vendas_df[['Produto', 'ID Loja']] # dataframe 
display(produtos)

0           Sapato Estampa
1                 Camiseta
2            Sapato Xadrez
3                  Relógio
4             Chinelo Liso
               ...
93905       Mochila Xadrez
93906    Pulseira Listrado
93907       Cueca Listrado
93908       Pulseira Linho
93909        Casaco Xadrez
Name: Produto, Length: 93910, dtype: object

                 Produto              ID Loja
0         Sapato Estampa   Iguatemi Esplanada
1               Camiseta   Iguatemi Esplanada
2          Sapato Xadrez   Iguatemi Esplanada
3                Relógio       Norte Shopping
4           Chinelo Liso       Norte Shopping
...                  ...                  ...
93905     Mochila Xadrez  Shopping Vila Velha
93906  Pulseira Listrado    Ribeirão Shopping
93907     Cueca Listrado    Ribeirão Shopping
93908     Pulseira Linho     Shopping Morumbi
93909      Casaco Xadrez     Shopping Morumbi

[93910 rows x 2 columns]

### .loc, um método muito importante
    - Pegar 1 linha
    - Pegar linhas de acordo com alguma condição
    - Pegar linhas e colunas específicas
    - Pegar 1 valor específico

In [20]:
# pegar uma linha
display(vendas_df.loc[1])

Código Venda                        1
Data              2019-01-01 00:00:00
ID Loja            Iguatemi Esplanada
Produto                      Camiseta
Quantidade                          2
Valor Unitário                    180
Valor Final                       360
Name: 1, dtype: object

In [21]:
# pegar linhas que correspondem uma condição
vendas_norteshopping_df = vendas_df.loc[vendas_df['ID Loja'] == 'Norte Shopping']
display(vendas_norteshopping_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
8,7,2019-01-02,Norte Shopping,Camisa Gola V Listrado,1,116,116
9,7,2019-01-02,Norte Shopping,Camisa Liso,1,105,105
100,73,2019-01-02,Norte Shopping,Cueca Xadrez,5,60,300
...,...,...,...,...,...,...,...
93716,64888,2019-11-30,Norte Shopping,Polo Xadrez,1,142,142
93754,64914,2019-11-30,Norte Shopping,Calça Liso,1,190,190
93755,64914,2019-11-30,Norte Shopping,Casaco Estampa,2,256,512
93756,64914,2019-11-30,Norte Shopping,Gorro,2,80,160
93852,64980,2019-11-30,Norte Shopping,Bermuda Linho,1,195,195

In [22]:
# pegar várias linhas e colunas usando o loc
vendas_shopping_df = vendas_df.loc[vendas_df['ID Loja'] == 'Norte Shopping', ["ID Loja", "Produto", "Quantidade"]]
display(vendas_shopping_df)

              ID Loja                 Produto  Quantidade
3      Norte Shopping                 Relógio           3
4      Norte Shopping            Chinelo Liso           1
8      Norte Shopping  Camisa Gola V Listrado           1
9      Norte Shopping             Camisa Liso           1
100    Norte Shopping            Cueca Xadrez           5
...               ...                     ...         ...
93716  Norte Shopping             Polo Xadrez           1
93754  Norte Shopping              Calça Liso           1
93755  Norte Shopping          Casaco Estampa           2
93756  Norte Shopping                   Gorro           2
93852  Norte Shopping           Bermuda Linho           1

[3924 rows x 3 columns]

In [23]:
# pegar um valor específico
print(vendas_df.loc[1, 'Produto'])

Camiseta

### Adicionar 1 coluna

In [27]:
# a partir de uma coluna que existe
vendas_df['Comissão'] = vendas_df['Valor Final'] * 0.05 # nova coluna acrescida com 5% de juros
display(vendas_df)

# criar uma coluna com valor padrão
vendas_df.loc[:, 'Imposto'] = 0
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90,0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00,0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55,0
...,...,...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566,28.30,0
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158,7.90,0
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201,10.05,0
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570,28.50,0
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036,51.80,0

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90,0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00,0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55,0
...,...,...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566,28.30,0
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158,7.90,0
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201,10.05,0
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570,28.50,0
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036,51.80,0

### Adicionar 1 linha
    - Linhas de um complemento da base de dados

In [37]:
vendas_dez_df = pd.read_excel("Vendas - Dez.xlsx")
#display(vendas_dez_df)

vendas_df = pd.concat([vendas_df, vendas_dez_df])
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90,0.0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,0.0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,0.0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00,0.0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55,0.0
...,...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,NaN,NaN
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,NaN,NaN
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,NaN,NaN
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,NaN,NaN
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,NaN,NaN

### Excluir linhas e colunas

In [38]:
vendas_df = vendas_df.drop("Imposto", axis=1)
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55
...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,NaN
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,NaN
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,NaN
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,NaN
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,NaN

### Valores Vazios
    - Deletar linhas/colunas vazias
    - Deletar linhas que possuem valores vazios
    - Preencher valores vazios (média e último valor)

In [40]:
# deletar linhas e colunas completamente vazias
#vendas_df = vendas_df.dropna(how='all', axis=1)

# deletar linhas que possuem valores vazios
#vendas_df = vendas_df.dropna()

# preencher valores vazios
vendas_df['Comissão'] = vendas_df['Comissão'].fillna(vendas_df['Comissão'].mean())
display(vendas_df)

# preencher ultimo valor
vendas_df = vendas_df.ffill()

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55
...,...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566,28.30
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158,7.90
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201,10.05
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570,28.50
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036,51.80

### Calcular Indicadores
    - Groupby
    - Value Counts

In [43]:
transacoes_loja = vendas_df['ID Loja'].value_counts()
display(transacoes_loja)

faturamento_produto = vendas_df.groupby('Produto').sum()
display(faturamento_produto)

Shopping Vila Velha                 3935
Norte Shopping                      3924
Palladium Shopping Curitiba         3909
Shopping Center Leste Aricanduva    3863
Bourbon Shopping SP                 3830
Rio Mar Shopping Fortaleza          3824
Novo Shopping Ribeirão Preto        3810
Shopping SP Market                  3808
Iguatemi Campinas                   3793
Shopping Ibirapuera                 3778
Ribeirão Shopping                   3771
Shopping Center Interlagos          3767
Rio Mar Recife                      3733
Shopping Iguatemi Fortaleza         3731
Salvador Shopping                   3728
Iguatemi Esplanada                  3722
Center Shopping Uberlândia          3713
Shopping União de Osasco            3711
Passei das Águas Shopping           3711
Shopping Barra                      3702
Shopping Eldorado                   3698
Shopping Morumbi                    3654
Parque Dom Pedro Shopping           3612
Shopping Recife                     3605
Shopping Midway Mall                3578
Name: ID Loja, dtype: int64

,Código Venda,Quantidade,Valor Unitário,Valor Final,Comissão
Produto,,,,,
Bermuda,25770079,1692,116100,253800,12690.00
Bermuda Estampa,24703185,1616,127257,273104,13655.20
Bermuda Linho,28670449,1893,167115,369135,18456.75
Bermuda Liso,25053304,1637,120262,257009,12850.45
Bermuda Listrado,25576302,1675,129259,273025,13651.25
...,...,...,...,...,...
Tênis Estampa,25479194,1663,200704,425728,21286.40
Tênis Linho,25535255,1713,232848,503622,25181.10
Tênis Liso,26076935,1656,205086,440496,22024.80
Tênis Listrado,25533339,1737,207766,455094,22754.70
Tênis Xadrez,26118680,1661,205905,430199,21509.95

### Mesclar 2 dataframes (Procurar informações de um dataframe em outro)

In [45]:
gerentes_df = pd.read_excel("Gerentes.xlsx")
display(gerentes_df)

vendas_df = vendas_df.merge(gerentes_df)
display(vendas_df)

                             ID Loja   Gerente
0                 Iguatemi Esplanada  Salvador
1                     Norte Shopping     Joana
2         Rio Mar Shopping Fortaleza     Maria
3                     Shopping Barra   Letícia
4                Shopping Ibirapuera    Helena
5                  Iguatemi Campinas     Luiza
6   Shopping Center Leste Aricanduva     Julia
7          Passei das Águas Shopping    Nicole
8                    Shopping Recife     André
9               Shopping Midway Mall      João
10               Bourbon Shopping SP    Marcus
11        Shopping Center Interlagos    Amanda
12         Parque Dom Pedro Shopping     Carol
13        Center Shopping Uberlândia  Andressa
14          Shopping União de Osasco     Lilia
15                 Shopping Eldorado     Paulo
16               Shopping Vila Velha     Pablo
17      Novo Shopping Ribeirão Preto     Diana
18                    Rio Mar Recife       Ana
19       Palladium Shopping Curitiba    Flavia
20                Shopping SP Market  Fernanda
21                 Ribeirão Shopping     Fábio
22       Shopping Iguatemi Fortaleza      Joel
23                  Shopping Morumbi    Gisele
24                 Salvador Shopping    Mateus

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Gerente
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90,Salvador
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,Salvador
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,Salvador
3,21,2019-01-02,Iguatemi Esplanada,Camisa Gola V Listrado,2,116,232,11.60,Salvador
4,34,2019-01-02,Iguatemi Esplanada,Sapato Listrado,1,363,363,18.15,Salvador
...,...,...,...,...,...,...,...,...,...
93905,64922,2019-11-30,Salvador Shopping,Casaco Listrado,1,269,269,13.45,Mateus
93906,64922,2019-11-30,Salvador Shopping,Camiseta Xadrez,4,200,800,40.00,Mateus
93907,64982,2019-11-30,Salvador Shopping,Cueca Linho,5,93,465,23.25,Mateus
93908,64982,2019-11-30,Salvador Shopping,Terno Liso,1,720,720,36.00,Mateus
93909,64982,2019-11-30,Salvador Shopping,Chinelo Liso,3,71,213,10.65,Mateus